@using Newtonsoft.Json
@model DetailsDTO

<form method="post">
    <div class="card shadow border-0 mt-4 mb-4">
        <div class="card-header  bg-primary text-white text-center bg-gradient text-nlack py-4">
            <div class="row">
                <div class="col-12 bg-primary text-white text-center">
                    <h4 class="bg-primary text-white text-center text-uppercase">@Model.Product.Name</h4>
                   
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row">
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                            <small>Back to home</small>
                        </a>
                    </div>
                </div>
                <input asp-for="Product.ImageUrl" hidden />
                <input asp-for="Product.SellerId" hidden />
                <input asp-for="Product.CategoryId" hidden />
                <input asp-for="Product.Name" hidden />
                <input asp-for="Product.Price" hidden />
                <input asp-for="Product.Description" hidden />
                <input asp-for="Product.stock" hidden />
                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
                        
                        <div style="height:200px; display:flex; justify-content:center; align-items:center;" class="align-middle">
                            <img src="@Model.Product.ImageUrl" class="card-img-top" alt="@Model.Product.Name" style="object-fit:cover;" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                       

                        <div class="row ps-2">
                            <h5 class="text-dark   pb-2">
                                Price:
                                <span>
                                    @Model.Product.Price.ToString("c")
                                </span>
                            </h5>
                        </div>

                        <div class="row pl-2 my-3">
                            <p class="text-dark text-opacity-40">@Model.Product.Description</p>
                        </div>
                  
                        <div class="row">
                            <div class="col-12 col-md-6 pb-1">
                                @if (!Model.IsInCart)
                                {
                                    <button type="submit"  class="btn btn-primary bg-gradient  w-100 py-2 text-uppercase fw-semibold">
                                        Add to Cart
                                    </button>
                                }
                                else
                                {
                                    <a  asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-primary bg-gradient  w-100 py-2 text-uppercase fw-semibold">
                                        Go to Cart
                                    </a>
                                }
                            </div>
                            <div class="col-12 col-md-6 pb-1">
                                @if(Model.IsInLikes==null)
                                {
                                    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Add to WishList</a>
                                }
                               else
                               {
                                    <button type="button" id="AddToWishListBtn" class="btn btn-primary bg-gradient  w-100 py-2 text-uppercase fw-semibold">
                                        @(!(bool)Model.IsInLikes?"Add to WishList":"Remove From WishList")</button>
                               }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
const product = @Html.Raw(JsonConvert.SerializeObject(Model.Product, new JsonSerializerSettings { ReferenceLoopHandling = ReferenceLoopHandling.Ignore }));
debugger
</script>
<script src="~/js/Customer/DetailsScript.js"></script>