@model List<Products>

<partial name="_Notifications" />
<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .Product-card {
            transition: transform 0.3s ease-in-out;
        }

            .Product-card:hover {
                transform: translateY(-5px);
            }

        .card-icons {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 5px;
            padding: 5px;
        }

            .card-icons i {
                cursor: pointer;
                margin-left: 5px;
            }
    </style>
    <script>
    </script>
</head>
<body>
    <header class="bg-primary text-white text-center py-3 mb-4">
        <h1 class="display-4">Your Products</h1>
       
    </header>
    <div class="container">
        <div class="row pt-4 pb-3">
            <div class="col-6">
                <h1> Products </h1>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Add New Product
                </a>
            </div>
        </div>
        <main class="container my-5">
            <div class="row g-4">
                @foreach (var o in Model)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="card Product-card h-100">
                            <div class="card-icons ">
                                <a asp-controller="Product" asp-action="Upsert" asp-route-id="@o.Id"> <i class="bi bi-pencil-fill text-primary"></i> </a>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@o.Id"> <i class="bi bi-trash3-fill text-danger"></i> </a>
                            </div>
                            <img src="@o.ImageUrl?height=200&width=300" width="100%" class="card-img-top" style="border-radius:5px; border:1px solid #bbb9b9" alt="Img" />
                            <div class="card-body">
                                <h5 class="card-title">@o.Name</h5>
                                <h6 class="card-subtitle">@o.Category.Name</h6>
                                <h4 class="card-subtitle mb-2 text-body-secondary">Cost : @o.Price</h4>
                                <h4 class="card-subtitle mb-2 text-body-secondary">In stock : @o.stock</h4>
                                <p class="card-text">@o.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </main>
    </div>
</body>
</html>